*{
    margin: 0;
    padding: 0;
}

.container{
    
        margin: 0 auto;
        border: 1px solid black;
        /* margin-left: 300px;
        margin-right: 300px; */
        padding-left: 300px;
        padding-right: 300px;
    
}

.tablauno{
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    margin: 20px;
}

table td{
    border: 1px solid black;
    
}

table img{
    width: 250px;
}

.titulouno{
    text-align: center;
}

.portada{
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

.portada h1{
    margin: 0 auto;
}

.tablados{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}