*{
    padding: 0;
    margin: 0px;
}

.container{

    margin: 20px;
    border: 1px solid black;
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
}

.tablauno{
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#cabeza{
    border: 1px solid black;
}

#imguno{
    width: 300px;
    border: 1px solid black;
    height: 120px;
}

.textodos{
     text-align: center;
     border: 1px solid black;
     margin: 4px;
}

